.button {
    background-color: var(--bs-color-primary);
    border: 0;
    padding: 0.4rem;
    color: var(--bs-white);
    border-radius: 12px;
    font-weight: 700;
    width: 100%;
}

.button-text {
    color: var(--bs-white);
}