@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {

  --bs-white: #fff;
  --bs-color-primary: #483698;
  --bs-color-btnYellow: #FBDE40;
  --bs-color-btnYellowHover: #FFE766;
  --font-comfortaa: 'Comfortaa', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;

}

body {

  background: var(--bs-color-btnYellowHover);
  
}

.container {
    background-color: var(--bs-white);
    border-radius: 1.5rem;
}

button {

  font-family: var(--font-comfortaa);

}

h1, h2, h3 {

    font-family: var(--font-comfortaa);
    color: var(--bs-color-primary);

}

h4, h5, h6, span, label {

    font-family: var(--font-open-sans);

}

a {
  text-decoration: none;
}

@media (max-width: 720px)  {

    html {
      font-size: 87.5%;
    }

}

@media (max-width: 1080px)  {

  html {
    font-size: 93.75%;
  }

}